.google-logo{
    object-position: center;
    align-content: center;
    display: inline;
    position: absolute;
    padding:0;
    Border:0;
    margin:0;
}
.header,#click{
    object-position: center;
    align-content: center;
   display: inline-block;
   position: absolute;
   padding: 0;
   border:0;
   color: transparent;
}
.footer,#click{
    object-position: center;
    align-content: center;
    display: inline-block;
    position: absolute;
    padding:0px;
    margin:0px;
    border-color:transparent;
    background-color: gray;
    border-width: relative;

}
.searchbar{
    object-position: center;
    align-content: center;
    position: absolute;
    background-color: transparent;
    color: transparent;
    padding: 0%;
    margin: 0%;
    height: auto;
    width: 100%;
    left:0px;
    outline: none;
    background-position: initial initial;
}
#buttons{
    display:none;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: center;
    z-index: 50;
    height: 34px;
    position: absolute;
    left: 412px;
    margin:0px;
    top:83px;
    width: 111px;
}