.header{
    display: inline-block;
	direction: row;
	align-items: left;
    padding: 20px;
    border-spacing: horizontal 20px;
}
.bloon{
    color: grey;
    position: absolute;
    border: 1px gray;
    align-content: center;
    text-align: center;
}
.src{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 15px;
    bottom: 15px;
}
.a{
    text-align: center;
    padding: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 15px;
    bottom: 15px;
}
