.mind{
    background-color: lightgray;
    display: center;
    width: 20px;
    border: 22px solid grey;
}

.header{
    display: inline;
	direction: row;
	align-items: left;
	padding: 20px;
}
.types{
    color: grey;
    position: absolute;
    border: 1px gray;
    align-content: center;
}
.img src{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}

